@model Webaz.Models.Number
@using Webaz.Models;
@using System.Collections.Generic;

@{
    ViewBag.Title = "Play";
}

<h1>Mastermind</h1>


@using (Html.BeginForm(new { guess = "" }))
{
    @Html.TextBox("Guess");
    <input type="submit" value="Try">
}
@Session["answer"]
@if (ViewBag.list != null)
{
    foreach (var item in ViewBag.list as List<string>)
    {
        <p>@item</p>
    }
}

